html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: Ubuntu, Consolas, Candara, Verdana, Arial, sans-serif;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.light {
  color: black;
  background-color: white;
}

body.dark {
  color: white;
  background-color: rgb(29, 30, 32);
}

h2.light {
  color: black;
}

h2.dark {
  color: lightgrey;
}

h1.light, h3.light, a.light, a.light:visited {
  color: black;
}

h1.dark, h3.dark, a.dark, a.dark:visited {
  color: lightgrey;
}

a.light:hover {
  color: black;
}

a.dark:hover {
  color: white;
}

main {
  /* TODO ALTERAR */
  width: 70%;
  /* width: 1000px; */
  margin-left: 0px;
}

.focused {
  width: 1000px;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  font-size: 20px;
}

.left-upper {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  margin-left: 150px;
  height: 80px;
  z-index: 1;
}

.right-lower {
  position: fixed;
  margin: 0;
  bottom: 0;
  right: 0;
  margin-right: 18%;
  height: 80px;
  z-index: 1;
}

.home header {
  margin-right: 10px;
}

.home .icon {
  margin-top: 6px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15%;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.home-link {
  font-weight: bold;
  text-decoration: none;
}

.theme-switcher > img {
  width: 24px;
  height: auto;
}

.theme-switcher {
  cursor: pointer;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navbar ul a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  width: auto;
  height: 100%;
  margin: 10px;
}

#content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 10px;
}

.section-title {
  width: 30%;
  font-size: 32px;
}

.card-list, .works, .contacts {
  width: 50%;
}

.card-with-logo {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-header img {
  width: 48px;
  height: 48px;
  margin-right: 15px;
}

.card-header-larger-img {
  width: 72px !important;
  height: 48px;
  margin-right: 15px;
}

.card-title h4 {
  font-size: 18px;
}

.cards-with-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.card-with-links > a {
  font-size: 24px;
}

.card-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.card-link {
  display: inline-block;
  font-size: 18px;
  width: auto;
  min-width: 80px;
  margin: 0px 5px 0px 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
}

.card-link.light {
  background-color: white;
  border: 1px solid black;
}

.card-link.dark {
  background-color: black;
  border: 1px solid white;
}

.card-link.light:hover {
  animation-name: link-light-hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes link-light-hover {
  100% {
    color: black;
    background-color: #B9A560;
    border: 1px solid black;
  }
}

.card-link.dark:hover {
  animation-name: link-light-hover;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes link-dark-hover {
  100% {
    color: white;
    background-color: #B9A560;
    border: 1px solid black;
  }
}

.social, .card-link {
  padding: 0;
}

.social img {
  border-radius: 6px;
  width: 48px;
}

.social-media {
  margin: 5px;
}

.social-media img:hover {
  animation-name: social-media-hover;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

@keyframes social-media-hover {
  100% {
    transform: scale(1.1);
  }
}

#content #welcome-section #profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
}

#profile > img {
  border-radius: 5%;
  width: 350px;
  height: auto;
}

#content #welcome-section #biography {
  width: 50%;
}

.bio-text {
  font-size: 26px;
}

#content #welcome-section #biography .bio_details {
  display: flex;
  flex-direction: row;
}

#projects .project-list {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  width: 50%;
}

.project.light {
  background-color: #ececec;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.project.dark {
  background-color: rgb(37, 37, 37);
  border-radius: 20px;
  text-decoration: none;
}

.project h3 {
  text-decoration: none;
}

.project:hover {
  animation-name: on-hover-project-card;
  animation-duration: 1s;
  animation-fill-mode: forwards
}

.project h3::before {
  content: "< ";
  color: green;
  opacity: 0;
}

.project h3::after {
  content: " />";
  color: green;
  opacity: 0;
}

.project:hover h3::before {
  animation-name: on-hover-project-card-title;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.project:hover h3::after {
  animation-name: on-hover-project-card-title;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes on-hover-project-card-title {
  100% {
    opacity: 1;
  }
}

.project:hover h3::before, h3::after {
  display: inline;
}

.project div {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project img {
  max-width: 100%;
  border-radius: 4px;
  height: auto;
}

#footer {
  width: 100%;
  height: auto;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal {
  opacity: 0;
  pointer-events: none;
  transition: 1s all ease;
}

.reveal.active {
  opacity: 1;
  pointer-events: initial;
}

.summary.light {
  background-color: #ececec;
  border-radius: 10px;
}

.summary.dark {
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
}

.summary button {
  border: 0;
  color: none;
}

/* .arrow-down.light {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.arrow-right.light {
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;
} */

.article {
  /* width: 800px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.article h1::after, h2::after, h3::after, h4::after, h5::after {
  content: " #";
  color: grey;
  opacity: 0;
}

.article h1:hover h1::after {
  animation-name: on-hover-article-title;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes on-hover-article-title {
  100% {
    opacity: 1;
  }
}

.article-text .article-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 50%; */
}

.article-image img {
  border-radius: 6px;
}

.article-code {
  border-radius: 6px;
}

pre[class*="language-"] {
  position: relative;
  overflow: auto;

  /* make space  */
  margin: 5px 0;
  padding: 1.75rem 0 1.75rem 1rem;
  border-radius: 10px;
}

pre[class*="language-"] button {
  position: absolute;
  top: 5px;
  right: 5px;

  font-size: 0.9rem;
  padding: 0.15rem;
  background-color: #828282;

  border: ridge 1px #7b7b7c;
  border-radius: 5px;
  text-shadow: #c4c4c4 0 0 2px;
}

pre[class*="language-"] button:hover {
  cursor: pointer;
  background-color: #bcbabb;
}


@media (max-width: 1560px) {
  .left-upper  {
    margin-left: 3%;
  }
}

@media (max-width: 1400px) {
  .left-upper  {
    margin-left: 1%;
  }
}

@media (max-width: 1300px) {
  main {
    margin-left: 200px;
    width: 60%;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .section-title {
    width: auto;
    font-size: 32px;
  }
  
  .card-list, .works, .contacts {
    width: 90vw;
  }

  #projects .project-list {
    grid-template-columns: 1fr;
  }

  #welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #content #welcome-section #biography {
    width: 90vw;
  }
  
  .bio-text {
    font-size: 22px;
  }
  
  #content #welcome-section #biography .bio_details {
    display: flex;
    flex-direction: row;
  }

  #profile > img {
    width: 250px;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .left-upper  {
    display: none;
  }

  main {
    margin-left: 0px;
    width: 90%;
  }

  .card-link {
    min-width: 0;
  }

  .navbar ul {
    justify-content: center;
    width: auto;
  }

  .right-lower {
    position: fixed;
    margin: 0;
    bottom: 0;
    right: 0;
    margin-right: 0;
  }
}